<h1>Add Encounter</h1>

<%= form_for @encounter, :url =>{:action => 'create'} do |f| %>
<div>
<label for = "encounter_visitnumber">Visit Number</label>:
<%= f.text_field 'visitnumber' %>
<span><%= show_errors(@patient, :visitnumber) %></span>
<label for = "encounter_admittedat">Admitted At</label>:
<%= f.datetime_select 'admittedat' %>
<span><%= show_errors(@patient, :admittedat) %></span>
<label for = "encounter_dischardedat">Discharged At</label>:
<%= f.datetime_select 'discharedat', :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %>
<span><%= show_errors(@patient, :discharedat) %></span>
</div>

<div>
  <label for = "encounter_location">Location</label>:
  <%= f.text_field 'location' %>
  <span><%= show_errors(@patient, :location) %></span>
  <label for = "encounter_room">Room</label>:
  <%= f.text_field 'room' %>
  <span><%= show_errors(@patient, :room) %></span>
  <label for = "encounter_bed">Bed</label>:
  <%= f.text_field 'bed' %>
  <span><%= show_errors(@patient, :bed) %></span>
  <%= f.hidden_field 'patient_id' %>
</div>
<%= submit_tag "Submit" %>
<%= link_to 'Back', {:controller => 'patient', :action => 'show', :id => @encounter.patient_id} %>
<% end -%>
