<p><%= link_to "Add Patient", {:action => 'new' }%></p>

<% if @patients.blank? %>
<p>There are not any patients currently in the system.</p>
<% else %>
<p>These are the current patients in our system</p>

<table class="patients">
  <tr>
    <th>MRN</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Actions</th>
  </tr>
  <% @patients.each do |p| %>
  <tr>
    <td><%= p.mrn%></td>
    <td><%= p.firstname%></td>
    <td><%= p.lastname%></td>
    <td>
      <%= link_to 'SHOW', {:action => 'show', :id => p.id}%>
      <%= link_to 'EDIT', {:action => 'edit', :id => p.id}%>
      <%= link_to "DESTROY", {:action => 'list'}, data: {confirm: 'Are you sure you want to delete this patient?'} %>
    </td>
  </tr>
  <% end %>
</table>

<% end %>
